.transferform {
    text-align: center;
    font-size: 25px;
}

#transferbutton {
    border-radius: 20px;
    color: white;
    background-color: red;
    height: 40px;
    width: 200px;
    font-family: Syne;
    margin-top: 20px;
}