<div class="dashboardcontainer" *ngIf="fetchedAccounts">
    <h1 id="dashboardheader">Dashboard</h1>
        <div *ngFor="let account of fetchedAccounts" (click)="onSelect(account)">
            <button type="button" *ngIf="account.type==='Checking'">
                <span class="badge">{{account.id}}</span>
                {{account.type}} : {{account.totalValue | currency}} 
            </button>
            <button type="button"  *ngIf="account.type==='Savings'" (click)="onSelect(account)">
                <span class="badge">{{account.id}}</span>
                {{account.type}}  : {{account.totalValue | currency}}
            </button>
        </div>
</div>

<button id="loadaccounts" type="button" (click)="getAccounts()">Load Accounts</button>

<div class="dashboardcontainer2">
    <form #createNew="ngForm" (ngSubmit)="onSubmit(type.value)">
        <select required id="type" name = "type" #type>
            <option value="" disabled selected>Type of account</option>
            <option *ngFor="let choice of choices" value={{choice}}>{{choice}}</option>
        </select>
        <button id="createaccount" type="submit" [disabled]="!createNew.form.valid">+</button>
    </form>
</div>


<app-transfer-money [accounts]="fetchedAccounts" [accountIds]="fetchedAccIds" [acc]="selectedAccount"></app-transfer-money>
<app-statements [acc]="selectedAccount" [allAccounts]="fetchedAllAccIds"></app-statements>
<app-shopping-mall [acc]="selectedAccount"></app-shopping-mall>

<a href='#' id="signoutbutton" (click)="$event.preventDefault(); signout()">Sign Out</a>
<a href='#' id="userprofilebutton" routerLink="/userProfile" routerLinkActive="active">User Profile</a>