<div class="form" *ngIf="!isLoggedIn">
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit();" #f="ngForm" novalidate>
        <div class="form-header">
          <p>Welcome<br>Back</p>
        </div>
        <div class="email">
          <label for="email">Email: </label>
          <input type="text" class="form-control" name="email" placeholder="Enter your email" [(ngModel)]="form.email" required #email="ngModel"/>
        </div>
        <div class="password">
          <label for="password">Password: </label>
          <input type="password" class="form-control" name="password" placeholder="Enter your password" [(ngModel)]="form.password" required #password="ngModel"/>
        </div>
        <div class="loginbutton">
          <button id="loginbutton" routerLink="/dashboard">Login</button> 
        </div>

        <button routerLink="/forgotPassword">Forgot your password?</button>
        <button routerLink="/register">Register</button>
      </form>
</div>